# Python cache
__pycache__/
*.py[cod]
*.class
*.so

# Environment variables & local secrets
.env
.env.local

# Temporary files
tmp/
*.tmp
*.log
_-*/

# IDE & Editor
.vscode/
.idea/
*.swp

# Changelog
CHANGELOG.md


# 错题本
错题本.md
*.bak