# Python cache
__pycache__/
*.py[cod]
*.class
*.so

# Environment variables & local secrets
.env
.env.local

# Temporary files
tmp/
*.tmp
*.log

# IDE & Editor
.vscode/
.idea/
*.swp

# Changelog
CHANGELOG.md
